#donutchart,
#attend {
  min-height:76vh;
  min-width:98vw;
  font-family: Arial;
}

#donutchart {
    position: relative;
}

#labelOverlay {
    width: 31vw;
    height: 45px;
    position: absolute;
    top: 240px;
    left: 205px;
    text-align: center;
    cursor: default;
}

#labelOverlay p {
  line-height: 0.3;
  padding:0;
  margin: 8px;
}

#labelOverlay p.used-size {
  line-height: 0.5;
  font-size: 20pt;
  color: #8e8e8e;
}

#labelOverlay p.total-size {
  line-height: 0.5;
  font-size: 12pt;
  color: #cdcdcd;
  padding-top: 10px;
}